.container {
  width: 100%;
  min-height: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 6px;
  padding: 0 3rem;
}